body, input, label {
  font-family: 'Droid Sans', sans-serif !important;
}

#uploader{
  margin-bottom: 20px;
  position:relative;
}

#filelist {
  text-align: left;
}

.overflow {
  overflow-y: auto;
  overflow-x: hidden;
}

#uploader:after{
  clear:both;
}

#progress {
  width: 100%;
  margin:0 auto;
  margin-top: 15px;
  padding: 1px;
  border: 1px solid #E8E8E8;
  display: none;
}

#title {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

#loader {
  text-align: center;
}

#download {
  display: none;
  text-align: center;
}

.upload-size {background: #F7C519; height: 15px;  width: 0px;}

#pickfiles {
  height: 100px;
  margin-left:0;
  width:100%
}

#pickfiles:hover {
  cursor: pointer;
}

#pickfiles .btn {
  margin: 2px;
}

.publish {
  padding: 20px;
  background-color: white;
  border: 1px solid #e8e8e8;
}

#mailer {
  border-top:1px solid #E8E8E8;
  padding-top:10px;
}

.file-list {
  width:100%;height:250px;margin:auto;overflow-y:auto;overflow-x:hidden
}