parameters:
    locale:             fr
    secret:             ThisIsNotSecretToken
    mailer_transport:   smtp
    mailer_host:        localhost
    mailer_user:        user
    mailer_password:    password