<div class="navbar navbar-fixed-bottom" id="footer">
	<span>&copy; 2012 <a href="{{ url('homepage') }}">FiftySent</a> Développé par <a href="http://wanadev.fr">Wanadev</a> Code source <a href="https://github.com/wanadev/fiftysent">GitHub</a></span>
</div>