<div style="margin: 10px auto 10px;width:980px;text-align:center;">
<div>
	<span>&copy; 2012<a href="{{ url('homepage') }}">Sendbox</a> Développé par <a href="http://wanadev.fr">Wanadev</a></span>
</div>
    <div style="clear:both;"></div>
</div>
{% block javascripts %}{% endblock %}